


.Blog ul {
    list-style: none;
    width: 100%;
    text-align: center;
}


.Blog  li{
    display: inline-block;
    margin: 20px;
}

.Blog  a {
    text-decoration: none;
}
.Blog  a:visited {
    color: inherit;
}

.Blog  a:hover,
.Blog .active {
    color: #fa923f;
}