.App {
  text-align: center;
}
.Person-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}


.red {
  color: red;
}

.bold {
  font-weight: bold;
}